/TestResults
/build/TempDir
/build/bin
/src/MSBuildCodeMetrics.Core/obj
/src/MSBuildCodeMetrics.Core/bin
/src/MSBuildCodeMetrics.Core.Providers/obj
/src/MSBuildCodeMetrics.Core.Providers/bin
/src/MSBuildCodeMetrics.Tasks/obj
/src/MSBuildCodeMetrics.Tasks/bin
/src/MSBuildCodeMetrics.VisualStudioMetrics/obj
/src/MSBuildCodeMetrics.VisualStudioMetrics/bin
/src/obj
/src/*.suo
/src/*.user
/src/MSBuildCodeMetrics.Core/*.user
/src/MSBuildCodeMetrics.Tasks/*.user
/src/MSBuildCodeMetrics.VisualStudioMetrics/*.user
/tests/MSBuildCodeMetrics.JetBrains.UnitTests/bin
/tests/MSBuildCodeMetrics.JetBrains.UnitTests/obj
/src/MSBuildCodeMetrics.JetBrains/bin
/src/MSBuildCodeMetrics.JetBrains/obj
/src/TestResults
/src/obj
/tests/MSBuildCodeMetrics.Core.Providers.UnitTests/obj
/tests/MSBuildCodeMetrics.Core.Providers.UnitTests/bin
/tests/MSBuildCodeMetrics.Core.UnitTests/obj
/tests/MSBuildCodeMetrics.Core.UnitTests/bin
/tests/MSBuildCodeMetrics.IntegrationTests/obj
/tests/MSBuildCodeMetrics.IntegrationTests/bin
/tests/MSBuildCodeMetrics.Tasks.UnitTests/obj
/tests/MSBuildCodeMetrics.Tasks.UnitTests/bin
/tests/MSBuildCodeMetrics.VisualStudioMetrics.UnitTests/obj
/tests/MSBuildCodeMetrics.VisualStudioMetrics.UnitTests/bin
/tests/MSBuildCodeMetrics.Core.UnitTests/*.user
/tests/MSBuildCodeMetrics.IntegrationTests/*.user
/tests/MSBuildCodeMetrics.VisualStudioMetrics.UnitTests/*.user
/build/metrics.xml
/src/MSBuildCodeMetrics.Core.Providers/*.user
/build/Pack
/doc/Help
/doc/*.shfbproj_Eric
/src/SharedAssemblyInfo.cs
/build/Coverage.xml
/build/TestResults
/build/coverage_tmp
/build/coverage
/src/.vs
/src/packages
